services:
  nitro-node:
    image: offchainlabs/nitro-node:v3.9.2-52e8959
    container_name: hpp-node-mainnet
    volumes:
      - ./hpp-mainnet-node-config.json:/config/nodeConfig.json
      - ./hpp-mainnet/data:/home/user/.arbitrum
      - ./hpp-mainnet/snapshot-mainnet.tar:/home/user/snapshots.tar
    ports:
      - "8547:8547"
      - "8548:8548"
    # Passing the configurations of http because they are not working by config file, but I don't know why.
    command:
      [
        "--init.url", "file:///home/user/snapshots.tar",
        "--conf.file", "/config/nodeConfig.json",
        "--http.api", "web3,net,eth",
        "--http.addr", "0.0.0.0",
        "--http.corsdomain", "*"
      ]
    restart: unless-stopped
